<div class="container"style="margin-top: 116px;">
    <div class="row">
        <div class="col-11 mx-auto profile">
            <div class="py-3 px-2 px-lg-4 py-lg-5">

                <div class="row">
                    <div class="avatarBox col-12 col-lg-5">
                        <img src="../../assets/pictures/logo.jpg" class="img-fluid">
                    </div>

                    <div class="infoBox col-12 col-lg-6 mt-2 mt-lg-0">
                        <p class="sayHi">Hello</p>

                        <div class="name">
                            <p><span>I'm</span> Hieu</p>
                            <p class="s">
                                <span class="ion-ios-checkmark-outline"></span>
                            </p>
                            <p><span class="ion-android-globe"style="color: blue;"></span> Hello everyone!!!</p>
                        </div>
                        <hr>

                        <div class="detailInfo">
                            <div class="row my-2">
                                <div class="col-lg-4 col-12 boldd" style="color: blue;">Full Name</div>
                                <div class="col-lg-8 col-12 b"style="color: blue;">Nguyen Hong Hieu</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-12 boldd"style="color: blue;">Old</div>
                                <div class="col-lg-8 col-12 b"style="color: blue;">21 Years Old</div>
                            </div>
                            <div class="row my-2">
                                <div class="col-lg-4 col-12 boldd" style="color: blue;">Information</div>
                                <div class="col-lg-8 col-12 b"style="color: blue;">Just contact with me!!! </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-lg-4 col-12 boldd"style="color: blue;">Jobs</div>
                                <div class="col-lg-8 col-12 b" style="color: blue;">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-11 mx-auto contact text-center">
            <div class="social col-12">
                <!-- Facebook -->
                <a href="https://www.facebook.com/jackie.nguyen.56481" target="_blank">
                    <span class="ion-social-facebook mr-4 mr-lg-5"></span>
                </a>
                <a href="https://www.instagram.com/nguyenhonghieu2401/?hl=vi" target="_blank">
                    <span class="ion-social-instagram-outline mr-4 mr-lg-5 ml-lg-3"></span>
                </a>
                <a href="https://twitter.com/ChrisNguyn13" target="_blank">
                    <span class="ion-social-twitter-outline mr-4 mr-lg-5 ml-lg-3"></span>
                </a>
                <a href="https://www.linkedin.com/in/hi%E1%BA%BFu-nguy%E1%BB%85n-h%E1%BB%93ng-144244187/" target="_blank">
                    <span class="ion-social-linkedin-outline ml-lg-3"></span>
                </a>
            </div>
        </div>
    </div>
</div>