<div class="row clearfix">
  <div class="col-lg-3 col-md-3 col-sm-7" *ngFor="let item of flowers">
    <div class="card product_item">
      <div class="body">
        <div class="cp_img">
          <img src="{{ item.img }}" alt="Product" class="img-fluid" />
          <div class="hover">
            <button type="button" class="btn btn-primary btn-sm waves-effect" (click)="updateBag(item.id)">
              <i class="zmdi zmdi-shopping-cart"></i>
            </button>
          </div>
        </div>
        <div class="product_details">
          <h5>
            <a [href]="'products/' + item.id">{{ item.name }}</a>
          </h5>
          <ul class="product_price list-unstyled">
            <li class="old_price">Stock: {{ item.stock }}</li>
            <li class="new_price">{{ item.price | currency: "USD":true }}</li>
          </ul>
          <!-- <button
          type="button"
          class="btn btn-primary btn-sm waves-effect"
        >shopping bag
          <i class="zmdi zmdi-shopping-cart"></i>
        </button> -->
        </div>
      </div>
    </div>
  </div>
</div>